/* CSS for the Budget Tracking Website */

/* Centers the contact form submit button */
.contactButton {
    text-align: center;
}

/* Changes the contact form labels to bold */
.contactLabel {
    font-weight: bold;
}

/* Changes the input budget form labels to bold */
.inputBudgetLabel {
    font-weight: bold
}

/* Centers the input budget form submit button */
.inputBudgetButton {
    text-align: center;
}