/* CSS for the Budget Tracking Website */
/* rule for Home Page Images Carousel */
/* Keeps both Login and SignUp forms at 450px*/
.homeImages {
    height: 250px;
    width: 300px;
}
.forms {
    height: 450px;
}

/* positions the carousel items relatively*/
.carousel-item {
    position: relative; /* reference for absolute positioning */
}

/* positions the Login and Signup buttons absolutely*/
#submitLogin, #submitSignUp {
    position: absolute;
    bottom: 1rem;  /* distance from bottom */
    left: 2rem;    /* distance from left */
}

/* Centers the contact form submit button */
.contactButton {
    text-align: center;
}

/* Changes the contact form labels to bold */
.contactLabel {
    font-weight: bold;
}

/* Changes the input budget form labels to bold */
.inputBudgetLabel {
    font-weight: bold
}

/* Centers the input budget form submit button */
.inputBudgetButton {
    text-align: center;
}

/* Sets Carousel arrows to 5% width - reduces interference with submit and login buttons*/
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

/* Add green to the left side of the card to show income */
.income-card {
    border-left: 4px solid green;
}

/* Add red to the left side of the card to show expense */
.expense-card {
    border-left: 4px solid red;
}